@using Capstone.Web.Models
@model DetailModel

<div class="centerText">
    <img style="border-radius: 25px;" src="~/Content/@(Model.NationalPark.ParkCode).jpg" />
    <h1>@Model.NationalPark.ParkName</h1>
    @if (Model.NationalPark.EntryFee != 0)
    {
        <p>Entry Fee: @Model.NationalPark.EntryFee.ToString("C")</p>
    }
    else
    {
        <p>Entry Fee: Free!!</p>
    }
    <div align="center" id="quoteBlock">
        <p>"@Model.NationalPark.InspirationalQuote"</p>
        <p>-@Model.NationalPark.InspirationalQuoteSource</p>
    </div>
    <p>@Model.NationalPark.ParkDescription</p>

    <table align="center">
        <tr>
            <td>Year Founded: @Model.NationalPark.YearFounded</td>
        </tr>
        <tr>
            <td>Annual Visitor Count: @Model.NationalPark.AnnualVisitorCount</td>
        </tr>
        <tr>
            <td>Climate: @Model.NationalPark.Climate</td>
        </tr>
        <tr>
            <td>Miles of Trail: @Model.NationalPark.MilesOfTrail miles</td>
        </tr>
        <tr>
            <td>Acreage: @Model.NationalPark.Acreage acres</td>
        </tr>
        <tr>
            <td>Number of Campsites: @Model.NationalPark.NumberOfCampsites</td>
        </tr>
        <tr>
            <td>Elevation: @Model.NationalPark.Elevation ft.</td>
        </tr>
        <tr>
            <td>Number of Animal Species: @Model.NationalPark.NumberOfAnimalSpecies</td>
        </tr>
    </table>

    @foreach(WeatherReport report in Model.WeatherReports)
    {
        @report.High
    }

</div>

