@using Capstone.Web.Models
@model NationalPark

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <img src="~/Content/@(Model.ParkCode).jpg" />
        <p>@Model.ParkDescription</p>
        <p>@Model.Acreage</p>
        <p>@Model.AnnualVisitorCount</p>
        <p>@Model.Climate</p>
        <p>@Model.Elevation</p>
        <p>@Model.EntryFee</p>
        <p>@Model.InspirationalQuote</p>
        <p>@Model.InspirationalQuoteSource</p>
        <p>@Model.MilesOfTrail</p>
        <p>@Model.NumberOfAnimalSpecies</p>
        <p>@Model.NumberOfCampsites</p>
        <p>@Model.ParkCode</p>
        <p>@Model.ParkName</p>
        <p>@Model.State</p>
        <p>@Model.YearFounded</p>


    </div>
</body>
</html>
